    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">Furni is the easiest way to buy & sell furniture online</h2>
                    <ul class="summary">
                        <li>List up items for sale with a quick photo and details</li>
                        <li>Browse and filter through rich images of furniture listings</li>
                        <li>Pay and get it delivered to your doorstep</li>
                        <li>See reviews of sellers and buyers and transact with trust</li>
                    </ul>
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                            <li class="ios-btn"><a href="#">Coming soon on the App Store</a></li>
                            <li class="android-btn"><a href="#">Coming soon on Google Play</a></li>
                        </ul>
                    </div>
                </div><!--//overview-->
                
                <!--// iPhone starts -->
                <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder">
                        <div class="iphone-holder-inner">
                                    
                        </div><!--//iphone-holder-inner-->                    
                    </div><!--//iphone-holder-->                   
                </div><!--//iphone-->  
                <!--// iPhone ends -->
                                           
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->
    
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">Features</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-rocket"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Create Beautiful Listings</h3>
                        <p>Select a category, click a beautiful photograph, fill relevant details and set a price. All within the Furni mobile app.</p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-camera-retro"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Browse Vivid Listings</h3>
                        <p>Search through rich images for furniture to buy. View 360 degree photos/videos of the furniture piece.</p>   
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-search"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Search and Filter Listings</h3>
                        <p>Filter based on multiple criteria like neighborhood, price range, size, condition, color.</p> 
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-money"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Online Payments</h3>
                        <p>Pay and receive payments online for furniture transactions.</p>   
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row feature-row-last">
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-truck"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Integrated Delivery</h3>
                        <p>Setup delivery using our trust network of delivery partners. Select a time, pay and relax, your furniture will be delivered to your doorstep.</p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-users"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Trusted User Reviews</h3>
                        <p>See reviews of sellers and buyers. Transact with trusted sellers and buyers.</p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-comments"></i>
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">Chat before Buying</h3>
                        <p>Chat with sellers before buying. You can ask queries both privately and publicly. </p> 
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->
    
    <!-- ******HOW****** --> 
    <section id="benefits" class="how section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="title">Benefits</h2>
                    <ul class="summary col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
	                    
                    <p class="intro">Use the Furni App to quickly snap a photo of you furniture, enter details like the category and other relevant information, set a price and list. As simple as 1, 2, 3.</p>
                    <p class="intro-grey">No more renting a truck, coordinating a time for pickup and carrying heavy furniture. With Furni we integrate local delivery companies into the transaction, so you can select a delivery time and pay for delivery all within the app. </p>
                    <p class="intro">No more getting spammed and scammed while buying furniture online. Furni has reviews and ratings for all buyers and sellers. Transact with trust worthy counterparts, with peace of mind. </p>
                    <p class="intro-grey">No more handling cash and last minute bargaining on the spot. All payments are handled online for a small service fee and are held in escrow for seven days till all parties are satisfied with the transaction. </p>
                    <p class="intro">Perform transaction on the move with Furni's slick iPhone and Android apps. Get notifications when your delivery arrives and when your payments come through. </p>   
                    </ul>
                    
                </div><!--//content-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//how-->
    
    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Can I test out the furniture before buying?</h3>
                        <p class="answer">Sellers on Furni upload multiple 360 degree photos and have the option to upload a video of the item as well. The photos and videos should give a reasonable understanding of the looks of the furniture. You can also ask the seller questions on the feel of the furniture. If you still do not like the furniture after receiving it, Furni offers a one week return guarantee with just an additional delivery charge.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>How is Furni different from other online listing sites?</h3>
                        <p class="answer">Furni is primarily a mobile app. This makes it much easier for sellers to quickly list up high quality listings. It also enables buyers to view and select furniture on the go. Furni integrates payments and delivery options within the app to streamline the whole furniture buying exeperience, from selecting an item to receiving it at your doorstep. </p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Who can list items for sale on Furni?</h3>
                        <p class="answer">Furni is open to the public and any one who wants to sell either first-hand or pre-loved furniture can list it up on Furni. We are also contacting local stores so that they can bulk list their inventory. If you are interested in bulk listing furniture on Furni, we would love to hear from you via the contact form below. </p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>How soon do I receive payment after I have sold the item?</h3>
                        <p class="answer">Furni holds the payment for the furniture in escrow for seven days in case the buyers needs to return the furniture. Once these seven days are over, the funds are released immediately via the payment method you have selected on your profile page. </p>
                    </div><!--//item-->
                </div><!--//faq-col-->
            </div><!--//row-->
            <div class="more text-center">
                <h4 class="title">More questions?</h4>
                <a class="btn btn-lg btn-theme scrollto" href="#contact">Get in touch<i class="fa fa-arrow-circle-o-down"></i></a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->
    
    <!-- ******STORY****** --> 
    <section id="team" class="story section has-pattern">
        <div class="container">
            <div class="row">
                <div class="team col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="member col-md-2 text-center">
                            <img class="img-rounded" src="images/team/member-2.png" alt="" />
                            <p class="name">Daniel Noguchi</p>
                            <p class="title">Chief Executive Officer</p>
                        </div><!--//member-->
                        <div class="member col-md-2 text-center">
                            <img class="img-rounded" src="images/team/member-1.png" alt="" />
                            <p class="name">Lloyd D'Silva</p>
                            <p class="title">Chief Technology Officer</p>
                        </div><!--//member-->
                        <div class="member col-md-2 text-center">
                            <img class="img-rounded" src="images/team/member-3.png" alt="" />
                            <p class="name">Neha Arora</p>
                            <p class="title">Chief Financial Officer</p>
                        </div><!--//member-->
                        <div class="member col-md-2 text-center">
                            <img class="img-rounded" src="images/team/member-4.png" alt="" />
                            <p class="name">Neha Jain</p>
                            <p class="title">Chief Marketing Officer</p>
                        </div><!--//member-->
                        <div class="member col-md-2 text-center">
                            <img class="img-rounded" src="images/team/member-5.png" alt="" />
                            <p class="name">Nikhil Arora</p>
                            <p class="title">Chief Operating Officer</p>
                        </div><!--//member-->
                        <div class="member col-md-2 text-center">
                            <img class="img-rounded" src="images/team/member-6.png" alt="" />
                            <p class="name">Yixin Zhao</p>
                            <p class="title">Chief Happiness Officer</p>
                        </div><!--//member-->
                    </div>
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->
    
    <!-- ******TESTIMONIALS****** --> 
    <section id="media" class="testimonials section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">What do people think?</h2>
                <div class="item col-md-4 col-sm-4">
                    <div class="quote-box">
                        <i class="fa fa-quote-left"></i>
                        <blockquote class="quote">
                            <a href="#">@FurniApp</a> I can't wait to list up my old furniture on Furni and free up some space in my apartment. #SellItAll
                        </blockquote><!--//quote-->
                    </div><!--//quote-box-->
                    <div class="people row">
                        <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="images/people/people-1.png" alt="" />
                        <p class="details text-center pull-left">
                            <span class="name">Christine Heal</span>
                            <span class="title">Mountain View, CA</span>
                        </p>                        
                    </div><!--//people-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-4">
                    <div class="quote-box">
                        <i class="fa fa-quote-left"></i>
                        <blockquote class="quote">
                            <a href="#">@FurniApp</a> a novel way to buy second hand furniture. Love the vision of the app. #LaunchAlready
                        </blockquote><!--//quote-->
                    </div><!--//quote-box-->
                    <div class="people row">
                        <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="images/people/people-2.png" alt="" />
                        <p class="details text-center pull-left">
                            <span class="name">Ben Rousseau</span>
                            <span class="title">Palo Alto, CA</span>
                        </p>                        
                    </div><!--//people-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-4">
                    <div class="quote-box">
                        <i class="fa fa-quote-left"></i>
                        <blockquote class="quote">
                        I find FurniApp very promising. It's so hard finding trust-worth buyers on all the other platforms.
                        </blockquote><!--//quote-->
                    </div><!--//quote-box-->
                    <div class="people row">
                        <img class="img-rounded user-pic col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1" src="images/people/people-3.png" alt="" />
                        <p class="details text-center pull-left">
                            <span class="name">Mike Chan</span>
                            <span class="title">San Francisco, CA</span>
                        </p>                        
                    </div><!--//people-->
                </div><!--//item-->
            </div><!--//row-->
            <div class="press row text-center">
                <h3 class="note">Also featured in...</h3>
                <ul class="col-md-12 list-inline">
                    <li><a href="http://www.mashable.com"><img class="img-responsive" src="images/press/press-1.png" alt="" /></a></li>
                    <li><a href="http://www.wired.com"><img class="img-responsive" src="images/press/press-2.png" alt="" /></a></li>
                    <li><a href="http://www.techradar.com"><img class="img-responsive" src="images/press/press-3.png" alt="" /></a></li>
                    <li><a href="http://www.techcrunch.com"><img class="img-responsive" src="images/press/press-4.png" alt="" /></a></li>
                    <li class="last"><a href="http://news.ycombinator.com"><img class="img-responsive" src="images/press/press-5.png" alt="" /></a></li>
                </ul>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//Testimonials-->
    
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="row text-center">
                <h2 class="title">Contact Us</h2>
                <div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <p>We would love to hear feedback from you. Follow us on Twitter or Facebook to get the latest updates or drop us a note with the below form!</p>
                    <ul class="list-unstyled contact-details">
                        <li><i class="fa fa-envelope"></i><a href="mailto:hello@website.com">hello@furniapp.com</a></li>
                        <li><i class="fa fa-phone-square"></i>650 289 8293</li>
                    </ul>
                </div>
            </div><!--//row-->
            <div class="row text-center">
                <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">                            
                    <form class="form">                
                        <div class="form-group name">
                            <label class="sr-only" for="name">Name</label>
                            <input id="name" type="text" class="form-control" placeholder="Name:">
                        </div><!--//form-group-->
                        <div class="form-group email">
                            <label class="sr-only" for="email">Email</label>
                            <input id="email" type="email" class="form-control" placeholder="Email:">
                        </div><!--//form-group-->
                        <div class="form-group message">
                            <label class="sr-only" for="message">Message</label>
                            <textarea id="message" class="form-control" rows="6" placeholder="Message:"></textarea>
                        </div><!--//form-group-->
                        <button type="submit" class="btn btn-lg btn-theme">Send Message</button>
                    </form><!--//form-->                 
                </div><!--//contact-form-->
            </div><!--//row-->
            <div class="text-center">
                 <ul class="social-icons list-inline">
                    <li><a href="http://www.twitter.com/furniapp" ><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.facebook.com/furniapp" ><i class="fa fa-facebook"></i></a></li>                 
                </ul><!--//social-icons-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//contact-->  