<li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
<li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
<li class="nav-item"><a class="scrollto" href="#how">How it works</a></li>
<li class="nav-item"><a class="scrollto" href="#faq">FAQ</a></li>
<li class="nav-item"><a class="scrollto" href="#story">Story</a></li>
<li class="nav-item"><a class="scrollto" href="#pricing">Pricing</a></li>
<li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>