
<div class="container">
  <h1 class="logo pull-left">
    <a class="scrollto" href="/">
      <span class="logo-title">Furni</span>
    </a>
  </h1><!--//logo--> 
  <nav id="main-nav" class="main-nav navbar-right" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><!--//nav-toggle-->
    </div><!--//navbar-header-->            
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul><!--//nav-->
    </div><!--//navabar-collapse--> 
  </nav>
</div>
